.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

.onboard-container, input {
  background-color: #f9f9f9;
}

.mt-1 {
  margin-top: 10px;
}

.d-grid {
  display: grid;
}

.gray {
  color: gray;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.cta-area {
  width: 35vw;
  padding-top: 45vh;
  color: white;
  background-color: #286ffa;
  min-height: 100vh;
}

.steps {
  justify-content: flex-end;
  padding: 20px 30px 0 0;
  max-width: 95vw;
}

.steps p {
  font-size: 6pt;
  font-weight: 800;
}

.steps svg {
  width: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.steps .small svg {
  width: 3px;
}

h5 {
  text-align: left;
  padding: 30px 70px 0 70px;
  font-weight: 300;
}

.onboard-form {
  /* top | right | bottom | left */
  width: 33vw;
  padding-top: 15vh;
  padding: 15vh 16vw 0 16vw;
}

.onboard-form h3 {
  text-align: left;
}

.small-p {
  text-align: left;
}

.small-p p, a {
  font-size: 7pt;
  padding: 0;
  margin: 0;
}

.input-hint p {
  font-size: 7pt;
  margin-top: -10px;
  font-weight: 500;
}

.small-p a {
  color: #286ffa;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
}

.input-group {
  display: flex;
  margin: 30px 0 30px 0;
}

.input-group input {
  border: 1px solid lightgray;
  padding: 11px;
  font-size: 8pt;
  border-radius: 3px;
  margin:  7px 0 7px 0;
}

.btn-disabled {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin:  7px 0 18px 0;
  color: gray;
}

.foot-text {
  width: 100%;
}

.d-grid svg {
  position: absolute;
  margin-top: 18px;
  margin-left: 30.5vw;
}

@media only screen and (max-width: 800px) {
  .cta-area {
    display: none;
  }
  .onboard-form {
    width: 80vw;
    padding: 15vh 10vw 0 10vw;
  }
  .d-grid svg {
    margin-left: 76vw;
  }
}

@media only screen and (max-width: 500px) {
  .d-grid svg {
    margin-left: 74vw;
  }
}